<h2>Contact</h2>

<!--
  forms
 [()] - two way binding
  # template vars in component/ts
-->

<p>Name {{contactDetails.name}}</p>

<form (ngSubmit)="save()"
      (ngReset)="reset()"
>
  Name
  <input name="customerName" 
        [ngModel]="contactDetails.name"
        
        (ngModelChange)="contactDetails.name = $event"

        />

  Email
  <input name="email" type="email"
         [(ngModel)]="contactDetails.email" />

  Description
  <textarea name="description"
          [(ngModel)]="contactDetails.description" >

  </textarea>

  Department
  <select name="department"
          [(ngModel)]="contactDetails.department">
    <option value="sales">Sales</option>      
    <option value="technical">Technical</option>   
    <option value="care">Customer Care</option>   
  </select>

  <button type='submit'>Save</button>
  <button type='reset'>Reset</button>
</form>