
<h2>About</h2>


<button (click)="dataService.up()">
   Likes {{dataService.pageLikes}}
</button>

<!-- ng 2.0 onwards

  # - template reference variable
  # - HTML DOM object
-->

Name
<input name="member" #nameElement />

<button (click)="nameElement.focus()">
  Focus
</button>

<button (click)="addMember(nameElement.value);nameElement.value=''; nameElement.focus(); ">
  Add
</button>

<button (click)="empty()">
  Empty
</button>

<button (click)="showMembers = !showMembers">
  Toggle
</button>

<!-- ng 4.0 onwards, ngIf else -->

<ul  *ngIf="showMembers == true else memberNotShown">
  <li *ngFor="let memberName of members"
      appHighlight 
  > 
      {{memberName}}
  </li>
</ul>



<!-- place holder for html tag-->
<ng-template #memberNotShown >
  <p>Members is not shown</p>
</ng-template>


<p>About Likes {{aboutLikes}}</p>
<app-like [(likes)]="aboutLikes">
</app-like>