<h2>Cart</h2>

<button (click)="addItem()">
  Add
</button>

<button (click)="empty()">
  Empty
</button>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Qty</th>
    <th>Total</th>
    <th>Delete</th>
  </tr>

  <tr *ngFor="let item of cartService.items">
    <td>{{item.name | uppercase}}</td>
    <td>{{item.price | currency:'INR'}}</td>
    <td>{{item.qty}}</td>
    <td>{{ (item.qty * item.price) | currency:'INR'}}</td>
    <td> 
       <button>
         Delete
       </button>
    </td>
  </tr>
</table>

<app-cart-summary [amount]="cartService.amount"
                  [totalItems]="cartService.totalItems"

>

</app-cart-summary>

<p> Cart {{5 | power:2}} </p>