<div>
    <h2>Welcome to {{appTitle}}</h2>
    
    <!-- app is parent component 
    
        header, footer, home etc are child components
        -->
    <app-header></app-header>

    <!-- from angular / router, place holder for routed views -->
    <router-outlet>
    </router-outlet>


    <!-- html DOM parent is div, -->

    <!-- contactEvent is a custom event defined in footer comp
        (contactEvent)="contactEventHandler($event)"

        Parent subscribe for the contactEvent
        when emit data, it calls parent contactEventHandler func
        $event, the parameter passed in .emit method
        $event is a keyword
    -->
    <div>
     <app-footer [company]="appTitle"
                 [copyRightsDate]="today"
                 [address]="address" 
                 
                 (contactEvent)="contactEventHandler($event)"
                 
                 
                 ></app-footer>
    </div>

 
</div>
